langchain
langchain-huggingface 
pypdf
dotenv
langchain-tavily
tavily
langchain_text_splitters
langgraph
groq
crewai
langchain_community
langchain_openai
langchain_groq
certifi
langchain_qwq
# llama-cloud>=2.1
llama-index
llama-index-llms-openai 
llama-index-embeddings-openai
llama-index-embeddings-huggingface
pinecone
llama-index-vector-stores-pinecone
langchain-qwq
langchain_mcp_adapters
pandas
psycopg_pool
psycopg_binary
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
ipython 
salesforce-cdp-connector
pyyaml